@import "variables";
@import "title";

.articles {
  text-align: center;
  margin: 75px 0 50px;

  &__item {
    background: #222222;
    text-align: left;
    color: @color-text-reverse;
    font-weight: normal;
    font-size: 24px;
    padding: 50px 40px 60px;
    height: 340px;
  }

  &__content {
      height: 140px;
      margin: 0px 0 0px;
      text-align: left;
    }

  &__signature {
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0px 0 0px;
    padding: 15px;

    &-name {
        margin: 5px 0px 10px;
        text-align: left;
    }
  }
}