.text {
    font-size: 18px;
    line-height: 1.75;
    margin-bottom: 50px;
    letter-spacing: 0.025em;

    &_level-2 {
        font-size: 16px;
        line-height: 2;
    }

    &_level-3 {
        font-size: 16px;
        line-height: 1.75;
    }

    &_pretitle {
        margin: 0 0 5px;
        font-size: 14px;
    }

    &_twitter-sign {
        font-size: 16px;
        font-weight: bold;
    }
}
